body
{
    font-family : monospace;
    background-color : black;
    color : white;
}

#frame
{
    float : left;
}

#info
{
    float : left;
    padding-left : 20px;
}

.frameTitle
{
   margin-bottom : 10px;
   color : tan;
}

#status, #characteristics, #hands, #wall
{
    margin-bottom : 10px;
}

#HP, #XP, #LVL, #STR, #DEF, #leftHand, #rightHand 
{
    display : block;
}

#message
{
    clear : left;
    padding : 10px;
}

#message span
{
    display : block;
}

#inventory #items
{
   float : left;
}

#inventory .category
{
   color : gold;
}

#inventory .wielded
{
   color : chartreuse;
}

#inventory #items ul, #pickUpChoice ul
{
   margin : 0;
   padding : 0;
   margin-bottom : 5px;
}

#inventory #items li, #pickUpChoice li
{
   list-style-type : none;
   margin-left : 10px;
}

#inventory #details
{
   float : left;
   margin-left : 80px;
}
